<mat-toolbar class="navbar">
  <a routerLink="/home">
    <button mat-icon-button class="example-icon" aria-label="home icon">
      <mat-icon>home</mat-icon>
    </button>
  </a>
  <span>¿Qué Comemos?</span>
  <span class="example-spacer"></span>

  @if (isLoggedIn) {
    @if (userType == 'user') {
      <button mat-button>Mi Menú</button>
    }
    @if (userType == 'admin') {
      <button mat-button>Crear Menú</button>
    }
    <button (click)="logout()" mat-icon-button class="example-icon" aria-label="logout icon">
      <mat-icon>logout</mat-icon>
    </button>
  }
  @else {
    <a routerLink="/home">
      <button mat-icon-button class="example-icon" aria-label="login icon">
        <mat-icon>login</mat-icon>
      </button>
    </a>

    <a routerLink="/register">
      <button mat-icon-button class="example-icon" aria-label="register icon">
        <mat-icon>app_registration</mat-icon>
      </button>
    </a>
  }
</mat-toolbar>